.navbar {
  @extend %clearfix;
  position: relative;
  background: $shade-dark;
  line-height: 0;

  .container {
    display: flex;

    @include respond-to('xxs') {
      flex-direction: column;
      text-align: center;
    }
  }

  .btn:focus {
    box-shadow: none;
    text-decoration: none;
  }

  nav {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    > a {
      color: $white;
      margin: 0 1.5rem;
      padding: 1.5rem 0;
      border-radius: 0;
      
      &.active {
        font-weight: bold;
      }
      &.active:before {
        content: "";
        position: absolute;
        height: 4px;
        width: 100%;
        background: $white;
        top: 0;
        left: 0;

        @include respond-to('xxs') {
          top: auto;
          bottom: 0;
        }
      }

      &:hover {
        color: darken($white, 5%);
      }
    }
  }
}

.navbar {
  margin-bottom: 70px;
  margin-top: 0;

  nav > a {
    font-weight: 500;
  }
  @include respond-to(xxs) {
    margin-bottom: 0;

    nav > .btn-link {
      margin-top: 30px;
      border: 2px solid #6F6F76;
      padding: 8px !important;
      border-radius: 2px;
      text-decoration: none!important;
    }
  }
}

.navbar.navbar-secondary {
  background: $shade-normal;
  padding: 1rem;

  nav a:hover {
    color: #fff;
  }
}

.navbar-left {
  flex: 1;
}

.navbar-right {
  @include respond-to('sm-down') {
    justify-content: flex-end;
  }
}

.brand {
  display: inline-block;
  vertical-align: middle;

  > img {
    max-width: 10.8rem;
    position: relative;
    top: 1.3rem;
  }
}

.navbar-vertical-divider {
  display: inline-block;
  width: 1px;
  height: 48px;
  background-color: $shade-dark;
  vertical-align: middle;

  @include respond-to('xxs') {
    display: none;
  }
}

.navbar .btn-link {
  color: $white;
  font-size: 1.5rem;

  &:hover, &.hover,
  &:active, &.active {
    color: darken($white, 10%);
    text-decoration: none;
  }
}