!.gitkeep

.vagrant
*.pyc

/doc/build/*
/nginx/srv/dist/*
*.DS_Store

# Terraform
*.tfvars
*.tfstate
*.tfplan

# Ansible
/deployment/ansible/node_modules
/deployment/ansible/*.retry
/database_backup

# Coverage
.coverage
django/climate_change_api/htmlcov/
