!.gitkeep

.vagrant
*.pyc

/doc/build/*
/nginx/srv/dist/*
*.DS_Store

# Statsite
statsite/etc/statsite/librato.ini

# Terraform
*.tfvars
*.tfstate
*.tfplan

# Ansible
/deployment/ansible/node_modules
/deployment/ansible/*.retry
/database_backup
