{% load compile_static %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}

    <!-- ** NOTE ** Any additional SCSS files must be linked below with the compile directive -->
    <link rel="stylesheet" href="{% static "main.scss"|compile %}">

    <title>{% block title %}User Navigation{% endblock %} - Azavea Climate API</title>
</head>

<body>
    <div id="header">
    <div class="navbar">
      <div class="container">
        <div class="navbar-left">
          <a href="{% if user.is_authenticated %}{% url 'edit_profile' %}{% else %}{% url 'auth_login' %}{% endif %}" class="brand">
            <img src="/static/images/climate-logo.svg" alt="">
          </a>
        </div>
        <div class="navbar-right">
          <nav>
            <a href="{{ API_DOCUMENTATION_URL }}">Documentation</a>
            {% if user.is_authenticated %}
                <a href="{% url 'edit_profile' %}">Account</a>
                <a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a>
            {% else %}
                <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
            {% endif %}
          </nav>
        </div>
      </div>
    </div>
    {% block header %}

    {% endblock %}
    </div>

    {% block precontent %}{% endblock %}

    <div class="container">
        <div class="row">
            <div class="column-12">
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div id="footer">

    {% block footer %}
    {% endblock %}
    </div>
    {% bootstrap_javascript jquery=1 %}
</body>

</html>
