{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}



<head>
    <title>{% block title %}Log in{% endblock %}</title>
</head>

<body>
    {% block content %}
      <div class="row stack-xs">
        <div class="column-6">
          <section class="section-user">
            <form method="post" action=".">
              {% csrf_token %}

              {% bootstrap_form form %}
              <input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" />
              <input type="hidden" name="next" value="{{ next }}" />
            </form>
          </section>

          <p>{% trans "Forgot password" %}? <a href="{% url 'password_reset' %}">{% trans "Reset your password" %}</a></p>
          <p>{% trans "Don't have an account" %}? <a href="{% url 'django_registration_register' %}">{% trans "Register" %}</a></p>
        </div>
      </div>
      <div class="row stack-xs column-12">
        <div class=" temperate-cta">
          <img class="temperate-logo" src="{% static 'images/temperate-mark.svg' %}" alt="Temperate mark">
          <h2 class="subheader">Ready to take action?</h2>
          <h3 class="header">Introducing Temperate</h3>
          <p class="blurb">
            We built an easy-to-use application using the Climate API called Temperate. Temperate puts climate data into context and helps planners develop their vulnerability assessment and action plan. Designed for small- and mid-sized cities with limited resources, Temperate offers customized consulting assistance from ICLEI-USA.
          </p>
          <a href="https://temperate.io" class="btn btn-primary btn-large">Start your free trial today!</a>
        </div>
      </div>
    {% endblock %}
</body>
