{% extends "base.html" %}
{% load i18n %}

<head>
    <title>{% block title %}Reset your password{% endblock %}</title>
</head>

{% block content %}

<div class="row stack-xs">
  <div class="column-8">
    <section class="section-user section-user-reset">
      <h3>{% trans "Success!" %}</h3>
      <p>
        Password reset instructions have been sent to your email address.
      </p>
    </section>
    <div><a href="{% url 'login' %}">{% trans 'Back to login' %}</a></div>
  </div>
</div>

{% endblock %}
